
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  background: rgb(0, 0, 0);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container{
	width: 100%;
}


input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}


.bear{
  cursor: pointer;
	width: 80px;
	height: 80px;
	background: url(./components/navbar/img/bear-svgrepo-com-2.svg) no-repeat center;
}
.githab{
  cursor: pointer;
	width: 60px;
	height: 60px;
	background: url(./components/navbar/img/github-svgrepo-com.svg);
  &:hover{

  }
}

.telegram{
  cursor: pointer;
	width: 60px;
	height: 60px;
	background: url(./components/navbar/img/telegram-svgrepo-com.svg);
}

.insta{
  cursor: pointer;
	width: 60px;
	height: 60px;
	background: url(./components/navbar/img/instagram-svgrepo-com.svg);
}